---
import { Image } from 'astro:assets';
import { SITE } from '../config';

let banner;
let bannerMobile;

try {
  banner = await import('../assets/banner.png');
  banner = banner.default;
} catch {
  banner = null;
}

try {
  bannerMobile = await import('../assets/banner_mobile.png');
  bannerMobile = bannerMobile.default;
} catch {
  bannerMobile = null;
}

const showBanner = banner || bannerMobile;
const mobileImage = bannerMobile || banner;
---
{showBanner && (
  <div class="relative w-full aspect-[16/10] md:aspect-[21/5] rounded-none md:rounded-xl overflow-hidden my-0 md:my-8">
    {mobileImage && <Image src={mobileImage} alt="Banner background" class="absolute inset-0 w-full h-full object-cover md:hidden" />}
    {banner && <Image src={banner} alt="Banner background" class="absolute inset-0 w-full h-full object-cover hidden md:block" />}
    <div class="absolute inset-0"></div>
  </div>
)}