---
import GiscusComments from './GiscusComments.astro';
---

<!-- 댓글 시스템 컨테이너 -->
<section class="comments-section">
  <GiscusComments />
  
  <!-- 향후 다른 댓글 시스템 추가 가능 -->
  <!-- <DisqusComments />
  <UtterancesComments /> -->
</section>