---
import PostListItem from './PostListItem.astro';
import type { CollectionEntry } from 'astro:content';

export interface Props {
  posts: CollectionEntry<'posts'>[];
}

const { posts } = Astro.props;
---

<div class="w-full">
  <!-- Posts List -->
  <div class="space-y-12 md:space-y-12">
    {posts.map((post) => <PostListItem post={post} />)}
  </div>
</div> 