:root {
    --theme-bg-primary: oklch(0.987 0.022 95.277);
    --theme-bg-secondary: oklch(0.962 0.059 95.617);
    --theme-bg-tertiary: oklch(0.924 0.12 95.746);

    --theme-text-primary: oklch(0.266 0.079 36.259);
    --theme-text-secondary: oklch(0.408 0.123 38.172);
    --theme-text-tertiary: oklch(0.47 0.157 37.304);

    --theme-accent-primary: oklch(0.705 0.213 47.604);
    --theme-accent-secondary: oklch(0.769 0.188 70.08);

    --theme-border-primary: oklch(0.646 0.222 41.116);
    --theme-border-secondary: oklch(0.837 0.128 66.29);

    --theme-surface-primary: oklch(0.987 0.022 95.277);
    --theme-surface-secondary: oklch(0.879 0.169 91.605);
}